* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: #23424A;
    color: white;

    width: 80%;
    max-width:750px; /*Doesnt grow more than 750px*/
    margin: 0 auto;
    
    padding: 2em;
    /* height: 30%; */
}

.intro-content {
    width:50%
}